<!DOCTYPE html>
<html>
<head>
    <title>UNCC MSOC Dashboard Home</title>
</head>
<body>
    <h1>Welcome to the UNCC Men's Soccer Dashboard</h1>
    <ul>
        <li><a href="/top_scorers">Top 10 Goal Scorers</a></li>
        <li><a href="/duels">Duel Efficiency by Field Position</a></li>
	<li><a href="/pass_accuracy">Pass Accuracy by Field Position</a></li>
	<li><a href="/dribble_success">Dribble Success % by Field Position</a></li>
	<li><a href="/shot_accuracy">Shot Accuracy % by Field Position</a></li>
	<li><a href="/fouls_vs_yellow">Fouls vs Yellow Cards by Field Position</a></li>
	<li><a href="/yellow_rate">Yellow Card Rate per Foul by Field Position</a></li>
	<li><a href="/xg_vs_goals">xG vs Actual Goals by Field Position</a></li>
    </ul>
</body>
</html>
